/* Formulario */
.formulario {
    background-color: $bg-color-primary;
    color: $color-fuente1;
    padding: 30px;
    @include flex(none, space-between, none, none);
}
.tarjeta-form {
    width: 350px;
    padding: 10px;
    background-color: rgb(49, 46, 46);
    border: 2px solid #ffff;
    border-radius: 10px;

    h1 {
        font-size: 40px;
        padding: 10px;
    }
}
.form-content {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    @include flex-column(none, none, 5px);
    padding: 5px;
}
input, textarea, button {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Info Formulario */
.contacto-texto{
    text-align: right;
    width: 50%;
    gap: 30px;

    h2, p{
        font-size: 20px;
        color: $color-fuente1;
        width: 100%;
        padding: 10px;
    }

    h2 {
        font-size: 40px;
    }

    p {
        text-align: left;
    }
}