/* Carta de Presentacion */

.card-principal {
    background-color: $bg-color-primary;
}
.card-descrip {
    width: 100%;
    @include flex(none, space-evenly, flex-end, 15%);
    padding: 30px;

    img {
        @include imagenes (30%, 400px, cover);
    }
}

.descrip-body {
    width: 40%;
    color: $color-fuente1;
    @include flex(column, none, right, 30px);

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        text-align: left;
    }
}

/* Mapa */

.card-mapa {
    background-color: $bg-color-secondary;
}
.mapa-body {
    width: 100%;
    @include flex(none, space-evenly, flex-end, 15%);
    padding: 30px 50px;

    iframe {
        @include imagenes (40%, 400px, cover);
        transition: 0.5s;

        &:hover {
            width: 50%;
            height: 450px;
        }
    }
}

.mapa-descrip {
    width: 40%;
    color: $color-fuente2;
    @include flex(column, none, left, 30px);

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }
}