/* Banner */

.banner {
    background-color: $bg-color-secondary;
    @include flex(none, center, none, 50px);
    padding: 30px;

    img {
        @include imagenes (30%, 30%, cover);
    }
}

.info-marca {
    background-color: $bg-color-primary;
    padding: 30px;
    width: 100%;
    @include flex(column, none, center, 20px);

    h1, p {
        font-size: 25px;
        color: $color-fuente1;
        width: 70%;
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }
}

/* Logo de la Marca */
.logo-marca {
    background-color: $bg-color-secondary;
    padding: 30px;
    text-align: center;

    img {
        @include imagenes (300px, 300px, cover);
        margin: 30px;
    }
}

/* Productos */
.card-product {
    background-color: $bg-color-secondary;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px;
}
.body-product {
    width: 100%;
    height: 100%;

    img {
        @include imagenes (100%, 100%, cover);
        border-radius: 50px;
        border: 4px solid #131313;
    }
}