.footer {
    background-color: $bg-color-footer;
    @include flex(none, space-around, center, none);

    img {
        @include imagenes (200px, 200px, cover);
    }

    p {
        font-size: 15px;
        color: $color-fuente1;
        ;
    }
}
.footer-list {
    @include flex(none, none, none, 30px);

    li  i {
        padding: 10px;
        color: $bg-color-secondary;
    }
}
.footer-link {
    font-size: 20px;
    color: $color-fuente1;
}
