@media only screen and (max-width: 1080px) {

    //HTML CONTANTO
    .formulario {
        @include flex(column-reverse, none, center, 30px);

        .contacto-texto {
            width: 90%;
            text-align: center;

            p {
                text-align: center
            }
        }
    }

    //FOOTER
    .footer {
        @include flex-column (none, none, 20px);
        padding: 10px;
    }
}


@media only screen and (max-width: 895px) {

    //HTML INDEX
    .card-descrip {
        flex-direction: column;

        .descrip-body {
            width: 90%;
            align-items: center;

            p {
                text-align: center;
            }
        }
    }

    .mapa-body {
        flex-direction: column;

        .mapa-descrip {
            width: 90%;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 595px) {

    //FOOTER
    .footer-list {
        @include flex-column (none, center, none);
    }
}