//MIXIN
@mixin flex($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin flex-column($justify, $align, $gap) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin imagenes($width, $height, $object) {
    width: $width;
    height: $height;
    object-fit: $object;
}